// Update your SCSS:
.row {
    display: contents;
    cursor: pointer;
    
    &>td {
        display: flex;
        align-items: center;
        padding: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        background-color: var(--base-white-color);
        
        &:nth-child(3) {
            min-width: 0; 
        }
    }

    .homeworkCell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; 
    }
}