.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: auto 1fr 1fr 1fr;

    & tbody {
        display: contents;
    }
}

.scheduleTableParent {
    border-radius: 4px;
    overflow: hidden;
    
    & .__caption {
        grid-area: 1/1/span 1/span 4;
        padding: 16px;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
        background-color: var(--base-white-color);
    }
}