.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;

    background-color: var(--dark-gray-200-color);
    box-shadow: 0px 1px 4px 0px #0000000A;
    box-shadow: 0px -1px 4px 0px #0000000A;

    &__name {
        font-size: 16px;
        font-weight: 600;
        line-height: 23.9px;
    }

    &__group {
        font-size: 14px;
        font-weight: 500;
        line-height: 19.1px;
        color: #282828B2;
    }

    &__action {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__time {
            font-size: 14px;
            font-weight: 500;
            line-height: 19.1px;
        }
    }
}