.cart {
    padding: 16px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(243, 244, 245, 1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    background-color: white;

    &__chart{
        align-self: center;
        max-height: 200px;
        max-width: 260px;
        height: 100%;
    }

    &__legends{
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}