.head {
    display: contents;

    
    & tr {
        display: contents;
    }
    
    & th {
        position: sticky;
        top: 0;
        background-color: var(--base-white-color);
        padding: 20px 16px;
        text-align: left;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--dark-gray-600-color);
        border-bottom: 1px solid var(--dark-gray-300-color);
        
        &:not(:first-child){
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}