.ScheduleLessonsBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;

    &__lvl {
        height: 40px;
        width: 132px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 0px #1256DB14 inset, -1px -1px 4px 0px #1256DB14 inset;
    }

    &__start {
        height: 40px;
        width: 168px;
        border-radius: 4px;
    }
}