.form {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  width: 414px;
  padding: 20px 16px;
  border-radius: 10px;
  gap: 24px;

  & h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


