
    .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        cursor: pointer;
    }

    .placeholder {
        padding: 10px 16px;
        border-radius: 4px;
        background-color: var(--blue-200-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--blue-gray-600-color);
        width: 100%;
    }

    
    .error{
        border: 1px solid var(--red-color);
    }
    
    .fileRow {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 94%;
    }
    
    .multiFiles {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 94%;
        gap: 16px;
    }
    
    .previewer {
        width: 100%;
    }
