
.page{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;

    &__metrics, &__usersMetrics{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
    }

    &__studentCharts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}