.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &>img {
        width: 400px;
        height: 400px;
    }

    &>span {
        font-size: 28px;
        font-weight: 500;
        line-height: 32.87px;
        text-align: center;
    }
}