.player {
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--blue-color);
        position: relative;
    }
}

.icon {
    box-sizing: border-box;
    width: 0;
    height: 10px;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent white;
    transform: translateX(15%);
    transition: all 200ms ease;

    &.paused {
        border-style: double;
        border-width: 0 0 0 8px;
        transform: translateX(0) !important;
    }
}