
.page{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__usercard{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__metrics{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }

    &__charts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        & > *{
            grid-column: 1fr;
        }
    }
}