.wrapper {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(40, 40, 40, 0.1);
    background-color: var(--base-white-color);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}

.popup {
    width: 100%;
    display: flex;
    flex-direction: column;

    &>button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.5px;
        transition: all 0.3s;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover{
            background-color: var(--blue-400-color);
        }
    }
}