.page {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__files{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &__item{
            flex-grow: 1;
            min-width: calc(50% - 4px);
            background-color: white;
            cursor: pointer;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 12px;
        letter-spacing: 0%;
    }

    &__task {
        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 28.18px;
        }

        &__description {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: var(--dark-gray-800-color);
        }
    }

    &__textarea {
        background-color: var(--dark-gray-300-color);
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 8px;

        &>span {
            font-weight: 600;
            font-size: 24px;
            line-height: 28.18px;
            letter-spacing: 0%;
        }
    }

    &__send{
        min-width: 170px;
        margin-left: auto;
    }
}