
.wrapper{
    width: 700px;
    height: 397px;
    max-height: 397px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--base-white-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.modal{
    padding: 8px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}