.MainMentorStudentsGroupTab__dialog {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    width: 400px;
    gap: 10px;

    &__select {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }

    & div div span {
        margin: 5px 0;
    }

    &__btn {
        width: 100%;
    }
}

.selectedStudentOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8FBFF;
    padding: 12px 15px;
    border-radius: 4px;
    margin-top: 4px;

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}