
.mainCard {
    display: flex;
    gap: 24px;

    & > *{
        flex: 1;
    }
}

.pieChartCards {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.pieChartCard {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05);
    width: 50%;
    border-radius: 12px;
    padding: 20px;
}