.table {
    display: grid;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    min-width: 100%;
    grid-template-columns:
        minmax(44px, 44px) minmax(150px, 0.6fr) minmax(150px, 1fr) minmax(150px, 1fr);
        background-color: rgba(246, 246, 246, 1);

    & tbody,
    & thead,
    & tr {
        display: contents;
    }

    & th {
        position: sticky;
        top: 0;
        padding: 10px 16px;
        text-align: left;
        z-index: 10;

        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--dark-gray-700-color);

        &:not(:first-child) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
    }
}