.sidebar__logOut__Modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;

    & > div:nth-child(1) p {
        font-size: 16px;
        font-weight: 500;
    }

    & > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    &__Btn {
        width: 30%;
    }
}