
.layout{
    padding: 12px;
    border-radius: 20px;
    background-color: var(--base-white-color);
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__tab{
        padding: 4px 8px;
    }
}