
.table{
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: auto;

    & > *{
        flex: 1;
        min-width: 270px;
    }
}