.form {
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--base-white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
  margin-bottom: 50px;

  &__header {
    max-width: 1216px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 46px;
  }

  &__elements {
    max-width: 1064px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__btns {
    max-width: 1216px;
    width: 100%;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    position: absolute;
    bottom: -80px;
  }
}
