.row {
    cursor: pointer;
    
    &>td {
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 14px 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        background-color: var(--base-white-color);
        border-bottom: 1px solid var(--dark-gray-300-color);
    }
}