.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;

  & select {
    border: 1px solid var(--dark-gray-400-color);
    height: 40px;
    width: 106px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &__style {
    & li {
      border: 1px solid var(--dark-gray-400-color);
      background-color: #fff;
      border-radius: 4px;
      height: 40px;

      & a {
        border-radius: 4px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
