.row {
    &__td {
        text-align: right;
    }

    &__rate {
        padding: 9px 11px 10px 10px;
        background-color: var(--blue-300-color);
        color: var(--blue-color);
        border-radius: 8px;
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 8px;
    }

    &__cup{
        display: flex;
        gap: 6px;
    }
}