
.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
        minmax(41px, 41px)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr);
    overflow: auto;

    &__head{
        display: contents;
    
        & tr {
            display: contents;
        }
        
        & th {
            position: sticky;
            top: 0;
            margin-bottom: 10px;
            background-color: var(--base-white-color);
            padding: 10px 13px;
            text-align: left;
            z-index: 10;
            
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: var(--dark-gray-700-color);
            
            &:not(:first-child){
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
    
            }
        }
    }

    & tbody{
      display: contents;
    }
}