.sidebar {
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 268px;
    width: 100%;
    height: 100%;
    background-color: var(--base-white-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    transition: all 0.3s;

    &__menuBtn {
        margin-top: 42px;
    }

    &__links {
        max-width: 100%;
        margin-top: 32px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__bottomList {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & > a{
        display: flex;
        align-items: center;
        justify-content: center;

        & path{
            transition: all 0.3s;
        }
    }

    &__usersList ul li {
        cursor: pointer;
    }

    &__usersList ul li a {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 16px;
        font-weight: 600;
        color: var(--blue-gray-600-color);

        &:hover {
            background-color: #F6F9FD;
            border-radius: 8px;
        }

        &:active {
            background-color: #F6F9FD;
            color: #1256db;
            border-radius: 8px;
        }
    }
}

.close {
    max-width: 72px;
    overflow: hidden;
}

.closeLogo {
    transform: scale(0.87);

    &>g>path:nth-child(n+5) {
        transform: scale(0.9);
        opacity: 0;
    }
}