.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;

    &__salary {
        display: grid;
        grid-template-areas:
            'title icon'
            'value icon';
        align-items: flex-start;
        row-gap: 24px;

        &__title {
            grid-area: title;
            font-size: 16px;
            font-weight: 500;
            line-height: 18.78px;
        }

        &__value {
            font-size: 32px;
            font-weight: 700;
            line-height: 37.57px;

            &>span {
                font-size: 14px;
                font-weight: 400;
                line-height: 16.44px;
            }
        }
    }
}