.card {
    padding: 16px;
    background-color: var(--base-white-color);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        &>span {
            padding: 5px 12px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            gap: 6px;
            text-align: center;
            font-size: 12px;
            line-height: 14.09px;
        }
        
        &__group{
            background-color: var(--blue-color);
            font-weight: 500;
            color: white;
        }

        &__students{
            padding: 2px 8px !important;
            font-weight: 600;
            background-color: var(--blue-300-color);
            color: var(--dark-gray-800-color);

            & > svg{
                width: 20px;
                height: 20px;
            }
        }
    }

    &__times {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 12px;
        flex-grow: 1;

        & span{
            font-size: 12px;
            font-weight: 500;
            line-height: 14.09px;
        }

        &__item {
            display: flex;
            align-items: flex-end;
            gap: 8px;

            &__day {
                color: var(--blue-gray-600-color);
            }

            &__line {
                flex-grow: 1;
                border: 1px dashed var(--dark-gray-400-color);
            }

            &__time {
                font-weight: 600;
                color: var(--black-color) !important;
            }
        }

        &__empty{
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
    }

    &__mentors {
        // margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__card {
            display: grid;
            grid-template-areas:
                'role avatar'
                'name avatar';
            grid-template-columns: 1fr 28px;
            gap: 2px 8px;

            &__role {
                grid-area: role;
                font-size: 12px;
                line-height: 14.09px;
                color: var(--dark-gray-600-color);
            }

            &__name {
                grid-area: name;
                font-size: 12px;
                font-weight: 500;
                line-height: 14.09px;
            }

            &__avatar {
                grid-area: avatar;

                &:first-child {
                    border: 1px solid var(--dark-gray-400-color);
                }
            }
        }
    }
}

.active{
    background-color: rgba(66, 120, 226, 1);

    .card{
        &__header{
            &__group{
                background-color: white !important;
                color: var(--blue-color);
            }

            &__students{
                background-color: rgba(113, 154, 233, 1);
                color: white;

                & svg path{
                    fill: white;
                }
            }
        }

        &__times{
            &__item{
                &__day, &__time{
                    color: white !important;
                }

                &__line{
                    border-color: white;
                }
            }

            &__empty{
                color: white;
            }
        }    
        
        &__mentors{
            &__card{
                &__role{
                    color: rgba(255, 255, 255, 0.6);
                }

                &__name{
                    color: white;
                }

                &__avatar:first-child{
                    border-color: rgba(113, 154, 233, 1);
                }
            }
        }
    }
}

.closed{
    opacity: 0.4;
}