.row {
    & td {
        padding: 10px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.78px;
        display: flex;
        align-items: center;

        &:last-child{
            padding: 0;
        }
    }
}

.select{
    width: 100%;
    background-color: transparent;

    & > div{
        padding: 0 16px 0 0 !important;
        min-height: 24px !important;
        max-height: 24px !important;
    }
}

.disabled > td{
    opacity: 0.4;
    pointer-events: none;
}