.MentorMetricCard {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #0000000A, 0px -1px 4px 0px #0000000A;
    gap: 20px;
    padding: 15px 25px;



    & > div:nth-child(1) h3 {
        font-weight: 700;
        font-size: 36px;
    }

    & > div:nth-child(2) {

        & > div:nth-child(1) {
            margin-bottom: 5px;
            & > h2 {
                font-weight: 500;
                font-size: 16px;
            }
        }

        & > div:nth-child(2) {
            display: flex;

            & > h3 {
                font-weight: 500;
                font-size: 14px;
                color: #9ea4b0;
                margin-right: 10px;

                & > span {
                    font-weight: 600;
                    color: #0C1C3A;
                }
            }
        }
    }
}