.page{
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--base-white-color);
    border-radius: 20px;

    &__content{
        flex-grow: 1;
        overflow-x: visible;
        overflow-y: auto;
    }
}