.item {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--blue-200-color);
    display: grid;
    grid-template-areas:
        'icon name'
        'icon size';
    grid-template-columns: 24px 1fr;
    gap: 2px 6px;
    align-items: center;

    &__icon {
        grid-area: icon;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        grid-area: name;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__size {
        grid-area: size;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.09px;
        color: var(--blue-gray-400-color);
    }
}