.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;


    &__tabs {
        padding: 12px;
        background-color: var(--base-white-color);
        border-radius: 20px;
    }
}

.form__tabs {
    overflow-x: hidden;
}