.DefaultGenderInput {
    display: flex;
    justify-content: space-between;
    background-color: #F6F9FD;
    width: fit-content;
    padding: 8px 2px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}