.ScheduleCards {
    background-color: #fff;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: fit-content;
    padding: 12px;
    border-radius: 10px;
    gap: 26px;
    cursor: pointer;    

    &__lesson {
        font-size: 20px;
        font-weight: 600;
        line-height: 23.48px;
    }

    &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 36px;

        & div:first-child {
            display: flex;
            gap: 36px;
        }

        & div:first-child &__date span {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            gap: 8px;
        }

        & div:first-child &__time span {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            gap: 8px;
        }

        &__video {
            cursor: pointer;

            & span {
                display: flex;
                align-items: center;
                color: #1256db;
                font-weight: 500;
                font-size: 14px;
                gap: 8px;
            }
        }
    }
}