.wrapper {
    display: flex;
    align-items: flex-end;
    gap: 16px;

    &__files {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &>* {
            flex-grow: 1;
            min-width: calc(50% - 4px);
        }
    }

    &__btn {
        padding: 12px;
        border: 1px dashed var(--dark-gray-500-color);
        border-radius: 8px;
        cursor: pointer;

        & > input{
            display: none;
        }
    }
}
