.status {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    width: fit-content;

    font-size: 12px;
    font-weight: 500;
    line-height: 14.09px;
    border-radius: 16px;

    background: #27CD0217;
    color: #27CD02;
}