.MainMenuCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6.05px 6.05px 54.41px 0px #0000000D;


    & > div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

