.navbar {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-grow: 0;

    &__name, &__back {
        padding: 8px 30px;
        border-radius: 8px;
        border: 1px solid var(--blue-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--blue-color);
    }

    &__controls{
        display: flex;
        align-items: center;
        gap: 16px;
    }
}