.ChangeAdaptationMentorForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 430px;
  border-radius: 8px;
  padding: 16px;
  gap: 24px;

  & h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
  }

  &__button {
    width: 100%;
  }
}
