.passwordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--base-white-color);
  padding: 24px 96px;
  border-radius: 24px;
  gap: 24px;

  & h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  &__btn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.customInput {
    & div {
        display: none;
    }

    & > span {

        & input {
            padding-left: 16px;
        }
    }
}
