.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.playPause {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.progressBar {
  flex-grow: 1;
  margin: 0 10px;
  cursor: pointer;
  appearance: none;
  height: 4px;
  background: #fff;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #1256db;
    border-radius: 50%;
    cursor: pointer;
  }
}

.time {
  font-size: 14px;
  margin-left: 10px;
}

.FullScreen {
    cursor: pointer;
}

.playLarge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #000;
    left: 45%;
    top: 45%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

