.row {
    &>td {
        display: flex;
        align-items: center;
        padding: 10px 16px;

        &>span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

        background-color: var(--base-white-color);
        border-bottom: 1px solid var(--dark-gray-300-color);
    }

    &__name {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__studentCount{
        padding-right: 0 !important;
    }

    &__cards{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}