.form {
    width: 570px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--base-white-color);
    border-radius: 8px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
        }
    }

    &__footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}

.cancel{
    background-color: var(--dark-gray-400-color);
    color: var(--dark-gray-600-color);
}