.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--base-white-color);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
        }
    }
}