.ScheduleLessons {
    display: flex;
    flex-direction: column; 
    height: 100%;

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 24px;
        margin-top: 24px;
        flex: 1;
    }
}