.form {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--base-white-color);
    display: flex;
    flex-direction: column;
    width: 415px;
    gap: 24px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
        }

        & > button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
        }
    }
}