
.contacts{
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__input{
        padding: 16px 20px;
        background-color: white;
        border-color: var(--dark-gray-400-color);
        border-radius: 10px;

        & input, &{
            font-style: 16px;
            font-weight: 500;
        }
    }

    & > button{
        margin-top: 6px;
    }
}