.ScheduleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8FBFF; 
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;

    &__lesson {
        display: flex;
        align-items: center;
        gap: 12px;

        & p {
            font-size: 22px;
            font-weight: 600;
            color: #1256db;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        justify-content: end;
        width: fit-content;
        gap: 48px;

        &__video {
            cursor: pointer;

            span {
                display: flex;
                align-items: center;
                gap: 12px;
                font-weight: 500;
                font-size: 16px;
                color: #1256db;
            }
        }

        &__homework {
            width: fit-content;

            span {
                display: flex;
                align-items: center;
                justify-content: end;
                width: fit-content;
                gap: 12px;
                font-weight: 500;
                font-size: 16px;
                color: #1256db;
                cursor: pointer;
            }
        }
        
    }
}