
.form{
    width: 412px;
    max-width: 412px;
    padding: 16px;
    background-color: var(--base-white-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}