.LineChart {
    z-index: 100;
    max-height: 404px;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        
        & > select {
            background-color: #1256DB;
            color: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            outline: none;
            border: none;
            
            & > option {
                background-color: #fff;
                color: #333;
            }
        }
    }
}

.select{
    min-width: 160px;

    & > div:nth-child(3){
        border-radius: 8px !important;
        background-color: var(--blue-color);
        display: flex;
        justify-content: center;

        & > div:first-child{
            flex: none;

            & > *{
                color: var(--base-white-color);
            }
        }
        
        & path{
            fill: var(--base-white-color) !important;
        }
    }
}