.LineChart {
    z-index: 100;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        
        & > select {
            background-color: #1256DB;
            color: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            outline: none;
            border: none;
            
            & > option {
                background-color: #fff;
                color: #333;
            }
        }
    }
}