.bar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    align-items: center;

    &__form {
        &__input,
        &__select {
            background-color: var(--base-white-color) !important;
            z-index: 20;
        }
    }
}