.ScheduleHeader__dialog {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
    &__close {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 75%;

        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        } 
    }

    &__src {
        margin-top: 16px;
        width: 75%;
    }

    &__fullScreen {
        margin-top: 20px;
        width: 95%;
    }
}
