.badge {
    padding: 8px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 214, 0, 1);
    background: rgba(255, 214, 0, 0.15);
    border-radius: 8px;
}

.student{
    background-color: transparent;
    color: var(--black-color);
    font-weight: 500;
}