.DefaultDateInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;

    & > input {
        background-color: #F6F9FD;
        padding: 10px 16px;
        outline: none;
        border: none;
        color: #A2A0B3;
        border-radius: 4px;
    }
}