.course {
    padding: 16px 24px 25px;
    background-color: var(--base-white-color);
    border-radius: 16px;

    &__header {
        margin: 0 0 24px 0;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: var(--blue-gray-color);
    }

    &__content{
        display: flex;
        align-items: flex-end;
    }

    &__dl {
        display: grid;
        grid-template-columns:
            minmax(156px, 1fr) minmax(201px, 1fr) minmax(201px, 1fr) minmax(151px, 1fr) minmax(132px, 1fr) minmax(58px, 0.5fr);
    }

    &__dt {
        margin-bottom: 18px;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--dark-gray-700-color);
    }

    &__dd {
        font-family: "Raleway";
        font-size: 14px;
        font-weight: 500;
        line-height: 16.44px;
        color: var(--dark-gray-900-color);
    }

    &__btn{
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
    }
}