.pagination {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 202px 202px;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  overflow: visible;

  &__select {
    & > div:nth-child(3) {
      background-color: var(--base-white-color);
    }
  }

  &__input {
    background-color: var(--base-white-color);
  }

  &__select {
    min-width: 0;

    & > div {
        position: relative;
        z-index: 1000;
    }
  }
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.dictionary {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    & select {
      border: none;
      height: 40px;
      width: 106px;
      background-color: #fff;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      appearance: none;
      background-image: url('./selectIcon.svg');
      background-repeat: no-repeat;
      background-position: center right 20px;
        
      &:focus {
        outline: none;
      }
    }

    &__style {
      & li {
        border: none;
        background-color: #fff;
        border-radius: 4px;

        & a {
          height: 40px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.page-item .previous {
  border: none;
}
