
.page{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    overflow: hidden;
    
    &__filter{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    &__select, &__input{
        background-color: white;
    }
}