.badge {
    min-width: 110px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: 0px;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(39, 205, 2, 0.09);
    color: rgba(39, 205, 2, 1);
}