.dialog {
  padding: 16px;
  background-color: var(--base-white-color);
  border-radius: 8px;


  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }
}


.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(54px, 54px) minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr) minmax(90px, 90px);

  & tbody {
    display: contents;
  }
}