.modal {
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--base-white-color);
    position: relative;

    &__close{
        margin-left: auto;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: center;
        padding: 0 16px;
    }

    &__buttons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}