
.wrapper{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.placeholder {
    padding: 10px 16px;
    border-radius: 4px;
    background-color: var(--blue-200-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--blue-gray-600-color);
}

.error{
    border: 1px solid var(--red-color);
}