.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 42px 24px;
    max-width: 650px;
    border-radius: 8px;
    font-family: "Raleway";
    line-height: 20px;
    background-color: var(--base-white-color);

    &__title {
       
        font-size: 20px;
        font-weight: 600;
       color: #0F172A;
        margin: 0;
    }

    &__text{
        font-size: 18px;
        font-weight: 400;
         color: #9EA4B0;
    }
}