.ScheduleHomeWorkCreateForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__submit {
    display: flex;
    align-items: center;
    justify-content: end;

    & > * {
        width: 167px;
    }
  }

  &__files {
    width: 100%;
    display: flex;

    &__placeholder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;
    }
  }
}
