.form {
  width: 412px;
  padding: 20px 16px;
  background-color: var(--base-white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
  }
}

.salesManagerOptions {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}