.table {
    display: grid;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    margin-top: 24px;
    grid-template-columns: 
        minmax(54px, 54px)
        minmax(261px, 261px)
        minmax(700px, 1fr)
        minmax(180px,180px);

    & tbody{
      display: contents;
    }
}