
.page{
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    max-height: 100%;
    flex-grow: 1;
    min-height: 100%;

    &__header{
        display: flex;
        align-items: center;
        gap: 16px;

        & > button{
            flex-shrink: 0;
        }
    }
}