.bar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    &>* {
        flex: 1;
    }

    &__input, &__select{
        min-width: 140px;
        background-color: var(--base-white-color) !important;
    }
}