.card {
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.04);
  background-color: rgba(248, 249, 250, 1);

  &__name {
    grid-area: name;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.09px;
    margin-bottom: 6px;
  }

  &>span {
    font-size: 12px;
    line-height: 14.09px;
  }

  &__phone {
    grid-area: phone;
    color: var(--blue-gray-600-color);
    margin-bottom: 14px;
  }

  &__duration {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--blue-color);
  }

  &__btns {
    width: 100%;
    display: flex;
    gap: 6px;
    margin-top: 12px;

    & button {
      font-size: 10px;
      line-height: 11.74px;
      letter-spacing: 0%;
      padding: 4px 6px;
      border-radius: 6px;
      background-color: #fff;
      text-align: center;
      border: 1px solid var(--blue-400-color);
      color: var(--dark-gray-700-color);
      flex-grow: 1;

      &:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6px;
        flex-grow: 0;
      }
    }
  }
}

.medium {
  background-color: rgba(253, 249, 229, 1);

  .card {
    &__duration {
      color: rgba(228, 191, 0, 1);

      & path {
        fill: rgba(228, 191, 0, 1);
      }
    }
  }
}

.high {
  background-color: rgba(255, 228, 228, 1);

  .card {
    &__duration {
      color: var(--red-color);

      & path {
        fill: var(--red-color);
      }
    }
  }
}