.modal {
    width: 790px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--base-white-color);
    border-radius: 8px;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        max-height: 380px;
        overflow-y: auto;

    }

    &__btns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}