@import url('../public/fonts/fonts.css');

:root {
  --base-white-color: #fff;
  --main-color: #F5F8FE;

  --light-green-color: rgba(214, 244, 222, 1);
  --green-color: rgba(26, 195, 59, 1);

  --blue-color: #1256DB;
  --blue-100-color: rgba(248, 251, 255, 1);
  --blue-200-color: #F6F9FD;
  --blue-300-color: #F3F7FD;
  --blue-400-color: rgba(231, 238, 251, 1);
  --blue-500-color: rgba(208, 221, 248, 1);

  --blue-gray-color: #0F172A;
  --blue-gray-400-color: #94A3B8;
  --blue-gray-600-color: #475569;

  --dark-gray-200-color: #FAFAFA;
  --dark-gray-300-color: #F3F4F5;
  --dark-gray-400-color: rgba(231, 232, 235, 1);
  --dark-gray-500-color: rgba(206, 210, 216, 1);
  --dark-gray-600-color: rgba(158, 164, 176, 1);
  --dark-gray-700-color: #6D7789;
  --dark-gray-800-color: rgba(61, 73, 98, 1);
  --dark-gray-900-color: #0C1C3A;

  --black-color: #000;
  --green-color: #27CD02;
  --dark-gray-900-color: rgba(12, 28, 58, 1);

  --red-color: #FF0000;
  --violete-color: rgba(240, 230, 250, 1);
  --yellow-color: rgba(236, 182, 4, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D1CFD9;
    border-radius: 2px;
  }
}

a {
  text-decoration: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--blue-gray-color);
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}


button {
  border: none;
  background-color: transparent;
  font-family: Raleway;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

input {
  border: none;
  font-family: inherit;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

img {
  object-fit: cover;
}

textarea {
  font-family: inherit;
  resize: none;
}

textarea:focus {
  outline: none;
}

th {
  text-align: left;
}

/* Container and header styles */
.react-datepicker-popper>svg {
  display: none;
}

.react-datepicker {
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #2828281A;
  padding: 1rem;
}

.react-datepicker__monthPicker {
  display: flex;
  flex-shrink: 0;
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-top: 0.5rem;
}

.react-datepicker__current-month {
  height: 36px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}

/* Day styles */
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__month-text {
  width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin: 0;
}

.react-datepicker__day--selected[aria-selected="true"],
.react-datepicker__month-text--selected {
  background-color: #1256DB !important;
  border-radius: 10px !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: rgb(246 249 253) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-end,
.react-datepicker__day--range-start,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--selected:hover {
  background-color: #0064e6 !important;
  color: #fff !important;
  border-radius: 10px;
}

.react-datepicker__day:hover {
  background-color: #e6f0ff;
  color: #0064e6;
  border-radius: 10px;
}

.react-datepicker__day--outside-month {
  color: #d3d3d3;
}

/* Navigation button styles */
.react-datepicker__navigation {
  top: 16px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #2828281A;
  border-radius: 50%;
}

.react-datepicker__navigation>span::before {
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-width: 1.4px 1.4px 0 0;
  transform: translate(-40%, -40%) rotate(45deg);
}

.react-datepicker__navigation--previous {
  left: 16px;
}

.react-datepicker__navigation--previous>span::before {
  transform: translate(-50%, -40%) rotate(-135deg);
}

.react-datepicker__navigation--next {
  right: 16px;
}

.react-datepicker__navigation-icon::before {
  border-color: #333;
}

[data-popper-reference-hidden="true"] {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

#waveform::part(wave) {
  height: 2px;
  transition: all 0.3s ease;
}

#waveform::part(wave):hover {
  height: 4px;
}

.time-picker-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  gap: 8px;
}

label {
  font-size: 16px;
  color: #333;
}

.time-picker {
  display: flex;
  align-items: center;
  gap: 4px;
}

.time-input {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.time-input:focus {
  outline: none;
  border-color: #007BFF;
}

.time-picker span {
  font-size: 18px;
  color: #333;
}

.rc-dialog-mask,
.rc-dialog-wrap {
  background-color: rgba(15, 23, 42, 0.25) !important;
  cursor: pointer;
}

.rc-dialog-body a:hover>svg {
  color: white !important;
}

.rc-dialog-content {
  cursor: initial;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  list-style: none;
}

.pagination .page-item:not(:last-child) {
  margin-right: 0.5rem;
}

.page-link,
.break>a,
.next,
.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid var(--dark-gray-400-color);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.next,
.previous {
  padding: 0;
  width: 40px;
  height: 40px;
}

.next path,
.previous path {
  fill: var(--blue-gray-600-color);
}

.break>a {
  margin-right: 8px;
}

.pagination {
  margin-top: 0;
}

.pagination .page-link:hover {
  background-color: #e5e7eb;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: var(--blue-color);
}

.pagination .page-item.disabled .page-link {
  color: #6b7280;
  cursor: not-allowed;
}


html {
  .rbc-time-view {
    border: none;
  }

  .rbc-header {
    background: var(--dark-gray-300-color);
    padding: 13px;
    border-bottom: none;
    border-left: 1px solid var(--dark-gray-400-color) !important;
  }

  .rbc-header span {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  .rbc-allday-cell {
    display: none;
  }

  .rbc-time-content {
    border-top: 1px solid var(--dark-gray-400-color);
  }

  .rbc-time-header-content {
    border: none;
  }

  .rbc-events-container {
    border-color: var(--dark-gray-400-color) !important;
    margin: 0 !important;
  }

  .rbc-day-slot {
    background: white !important;
  }

  .rbc-events-container>div[role="button"] {
    left: 6px !important;
    width: calc(100% - 12px) !important;
  }

  .rbc-time-slot {
    width: 80px;
    min-height: 25px;
    border-top: none !important;
  }

  .rbc-time-content {
    overflow: hidden;
  }

  .rbc-timeslot-group {
    border-bottom: 1px solid var(--dark-gray-400-color);
    padding: 6px 0;
    border-left: transparent;
  }

  .rbc-time-gutter {
    margin-left: 1px;
  }

  .rbc-time-header-gutter {
    width: 81px;
  }

  .rbc-time-gutter,
  .rbc-time-header-gutter {
    background: var(--dark-gray-300-color);
  }

  .rbc-time-slot:first-child>.rbc-label {
    font-weight: 800;
    color: var(--black-color);
  }

  .rbc-time-slot>.rbc-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    color: var(--dark-gray-700-color);
  }

  .rbc-event-label {
    display: none;
  }

  .rbc-event-content {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.48px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .rbc-today {
    /* background-color: white; */
  }

  .rbc-day-slot .rbc-label {
    display: none;
  }

  .rbc-events-container {
    top: 6px !important;
    border-left: transparent;
  }

  .rbc-time-column {
    padding-top: 6px;
    border-right: 1px solid var(--dark-gray-400-color);
  }

  .rbc-current-time-indicator {
    transform: translateY(6px);
  }

  .rbc-event.rbc-selected,
  .rbc-day-slot .rbc-selected.rbc-background-event:focus {
    outline: none !important;
  }

  .rbc-addons-dnd-resizable {
    width: 100%;
    height: 100%;
  }
}