@import url('../public/fonts/fonts.css');

:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --base-white-color: #fff;
  --main-color: #F5F8FE;
  --blue-color: #1256DB;
  --blue-gray-color: #0F172A;
  --blue-300-color: #F3F7FD;
  --blue-gray-600-color: #475569;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--blue-gray-color);
}


button {
  border: none;
  background-color: transparent;
}