.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    height: 100%;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
        }

        &__btns{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}