
.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__select{
            width: 320px;
            background-color: var(--base-white-color);
        }
    }
}