
.page{
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__select{
            background-color: var(--base-white-color);
        }
    }
}